@font-face {
  font-family: "Pangolin";
  src: url("/Pangolin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-brand-purple: #d06fe4;
}

:root {
  --bg-color: #f4daf4;
  --line-color: rgba(255, 255, 255, 0.25);
}

body {
  background-color: var(--bg-color);
  background-image:
    linear-gradient(var(--line-color) 4px, transparent 1px),
    linear-gradient(90deg, var(--line-color) 4px, transparent 1px);
  background-size: 60px 60px;

  font-family: "Pangolin", cursive;
}
